---
const { tags, title, url } = Astro.props;

const linkAriaLabel = `Visit my ${title} project`;
---

<a class="link" href={url} target="_blank" rel="noopener noreferrer" aria-label={linkAriaLabel}>
  <div class="card">
    <div class="info">
      <h3>{title}</h3>
      <p>
        <slot />
      </p>
      <div class="tags">
        {tags.map((tag: string) => <span class="tag">{tag}</span>)}
      </div>
    </div>
  </div>
</a>

<style>
  h3 {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }

  .card {
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .info {
    padding: 1.5rem;
  }

  .link {
    text-decoration: none;
    color: inherit;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .tag {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: var(--light-bg);
    border-radius: 20px;
    font-size: 0.8rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>
